/* Styles body content */
body {
    font-family: "Courier New", Courier, monospace !important;
    background-image: url("https://i.postimg.cc/fRHrpcnm/bg2.jpg");
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100%;
    background-position: center;
}

/* Style thematic break */
hr {
	border-top: 1px solid #8c8b8b;
	text-align: center;
}
hr:after {
	content: '§';
	display: inline-block;
	position: relative;
	top: -16px;
	padding: 0 10px;
	color: #8c8b8b;
	font-size: 20px;
	-webkit-transform: rotate(60deg);
	-moz-transform: rotate(60deg);
	transform: rotate(60deg);
}

/* Centers text */
.center {
    text-align: center !important;
}

/* Add hover animation to bootstrap cards */
.card:hover {
    transform: scale(1.04);
}

/* Change dimensions of recipe image */
.foodpic {
    max-width: 100%;
    width: 450px;
    height: 325px;
}

/* Float to the right */
.right {
    float: right;
}

/* Resize ingredient images */
.ingredients {
    max-width: 100%;
    width: 70px;
    height: 70px;
}

/* Remove bullet point from list */
li {
    list-style-type: none;
}

/* Hides twitter text */
.hidden {
    display: none;
}

/* Fades in website content in three waves */
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}
.fade {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

/* First fade in 3 seconds */
#first {
    animation-delay: 2.5s;
}

/* Second fade in 5 seconds */
#second {
    animation-delay: 4.5s;
}

/* Third fade in 7 seconds */
#third {
    animation-delay: 6.5s;
}

/* Make the up and down arrow in servings visible */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

/* Make measurement input box invisible */
.measure {
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
}

/* Wrapper for loading animation */
.wrapper {
    position: fixed;
    z-index: 9999;
    background: #e0e0eb;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Loading animation */
.loading {
    display: inline-block;
    position: absolute;
    width: 50px;
    height: 50px;
    border: 3px solid rgba(255, 255, 255, .3);
    border-radius: 50%;
    border-top-color: #fff;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    top: 40%;
    left: 50%;
}

/* Adjusts text position underneath loading spinner */
.loading_text {
    margin-left: 8vh;
}

/* Have the loading animation spin */
@keyframes spin {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}
@-webkit-keyframes spin {
    to {
        transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
    }
}

/* Footer copyright text */
.copyright {
    font-size: 14px;
    line-height: 20px;
    margin-top: 11px;
    margin-bottom: 11px;
    border-top: ridge;
}
