/* Styles body content */
body {
    background-color: #7d997b !important;
    font-family: "Courier New", Courier, monospace !important;
}

/* Centers text */
.center {
    text-align: center !important;
}

/* Add hover animation to bootstrap cards */
.card:hover {
    transform: scale(1.04);
}

/* Change dimensions of recipe image */
.foodpic {
    max-width: 100%;
    width: 450px;
    height: 325px;
}

/* Float to the right */
.right {
    float: right;
}

/* Resize ingredient images */
.ingredients {
    max-width: 100%;
    width: 70px;
    height: 70px;
}

/* Remove bullet point from list */
li {
    list-style-type: none;
}

/* Hides twitter text */
.hidden {
    display: none;
}

/* Fades in website content in three waves */
@keyframes fadeIn {
    from {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

.fade {
    opacity: 0;
    animation: fadeIn 1.5s forwards;
}

#first {
    animation-delay: 1s;
}

#second {
    animation-delay: 3s;
}

#third {
    animation-delay: 5s;
}
