<!DOCTYPE html>
<html lang="en-us">
    
<!-- Metadata and script sources used -->
    <head>
        <title>Recipies</title>
        <link rel="stylesheet" href={{ url_for("static", filename="style.css") }} type="text/css" />
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    </head>
    
<!-- Start of the body -->
    <body>
        <div class="container">
            <br><br><br>
            
<!-- Recipe bootstrap card -->
            <div class="row">
                <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card card-body h-100 shadow-lg bg-white rounded">
                        <h3 class="center">{{ title }}</h3>
                        <hr>
                        <a href="{{ sourceUrl }}" target="_blank" rel="noopener noreferrer"><img class="mx-auto d-block foodpic" src="{{ image }}"></a>
                        <br>
                        <p>Serving Size: {{ servings }}<span class="right">Preparation Time: {{ cookTime }} minutes</span></p>
                        <br>
                        <p>{{ summary }}</p>
                    </div>
                </div>
                <br><br><br>
                <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card card-body h-100 shadow-lg bg-white rounded">
                        <h3 class="center">Ingredients</h3>
                        <hr>
                        {% for i in range(0, length, 4) %}
                            <li>
                                <img class="ingredients" src="https://spoonacular.com/cdn/ingredients_100x100/{{ ingredients[i+3] }}">
                                {{ ingredients[i] }}
                                {{ ingredients[i+1] }}
                                {{ ingredients[i+2] }}
                            </li>
                        {% endfor %}
                        <br><br>
                    </div>
                </div>
            </div>
            <br><br><br>
            
<!-- Twitter bootstrap card -->
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card card-body h-100 shadow-lg bg-white rounded">
                        <h3 class="center">Random {{ word }} Tweets</h3>
                        <hr>
                        <p class="center">{{ text }} {{ username }}<p>
                        <p class="center">{{ date_time }}</p>
                        <a href="{{ url }}" class="center" target="_blank" rel="noopener noreferrer"><img class="mx-auto d-block" src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
                    </div>
                </div>
            </div>
            <br><br><br>
            
        </div>
    </body>
    
</html>
