<!DOCTYPE html>
<html lang="en-us">
    
<!-- Metadata and script sources used -->
    <head>
        <title>Recipies</title>
        <link rel="stylesheet" href={{ url_for("static", filename="style.css") }} type="text/css" />
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <link rel="shortcut icon" href="https://img.icons8.com/bubbles/50/000000/food.png">
        <link rel="apple-touch-icon" href="https://img.icons8.com/bubbles/50/000000/food.png">
        <link rel="icon" sizes="192x192" href="https://img.icons8.com/bubbles/50/000000/food.png">
    </head>
    
<!-- Loading animation -->
    <div class="wrapper center flex-column align-items-center">
        <div class="loading"></div>
        <h4 class="loading_text">Extracting recipies...</h4>
    </div>
    
<!-- Start of the body -->
    <body>
        <div class="container">
            <br><br>
            
            <div class="center">
                <h1 id="first" class="thicker fade">Recipe Generator</h1>
                <h5 id="second" class="fade">Random desserts will be displayed if no recipe is searched for.</h5>
                <br>
                <form id="third" class="fade" style="margin-left: 20%;" method="POST" autocomplete="off">
                	<div class="input-group mb-3" style="max-width: 75%;">
                    	<input type="text" class="form-control" placeholder="Search for recipes..." name="recipe">
                        <button type="submit" class="btn btn-light mb-2">Search</button>
                        <br><br>
                	</div>
                </form>
            </div>
            
<!-- Recipe bootstrap card -->
            <div class="row">
                <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card card-body h-100 shadow-lg bg-white rounded">
                        <h3 id="first" class="center thicker fade">{{ title }}</h3>
                        <hr>
                        <a id="second" class="fade" href="{{ source_url }}" target="_blank" rel="noopener noreferrer"><img class="mx-auto d-block foodpic" src="{{ image }}" onerror="this.onerror=null; this.src='https://spoonacular.com/cdn/ingredients_100x100/no.jpg'"></a>
                        <br>
                        <p id="third" class="fade">Serving Size: <input id="serving" type="number" style="width: 60px" value="{{ servings }}" min="1"><span class="right">Preparation Time: {{ cook_time }} minutes</span></p>
                        <p id="third" class="center fade">{{ summary }}</p>
                    </div>
                </div>
                <br><br><br>
                <div class="col-6 col-md-6 col-lg-6 col-xl-6">
                    <div class="card card-body h-100 shadow-lg bg-white rounded">
                        <h3 id="first" class="center thicker fade">Ingredients</h3>
                        <hr>
                        {% for i in range(0, length, 4) %}
                            <li id="second" class="fade">
                                <img class="ingredients" src="https://spoonacular.com/cdn/ingredients_100x100/{{ ingredients[i+3] }}" onerror="this.onerror=null; this.src='https://spoonacular.com/cdn/ingredients_100x100/no.jpg'">
                                <input readonly class="measure" type="text" style="width: 60px" value="{{ ingredients[i] }}">
                                {{ ingredients[i+1] }}
                                {{ ingredients[i+2] }}
                            </li>
                        {% endfor %}
                        <br><br>
                    </div>
                </div>
            </div>
            <br><br><br>
            
<!-- Twitter bootstrap card -->
            <div class="row">
                <div class="col-12 col-md-12 col-lg-12 col-xl-12">
                    <div class="card card-body h-100 shadow-lg bg-white rounded">
                        <h3 id="first" class="center thicker fade">Random {{ word }} Tweets</h3>
                        <hr>
                        <div id="second" class="hidden fade">
                            <p class="center">{{ tweets[0][0] }} {{ tweets[0][1] }}<p>
                            <p class="center">{{ tweets[0][2] }}</p>
                            <a href="{{ tweets[0][3] }}" target="_blank" rel="noopener noreferrer"><img class="mx-auto d-block" src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
                        </div>
                        
                        <div class="hidden">
                            <p class="center">{{ tweets[1][0] }} {{ tweets[1][1] }}<p>
                            <p class="center">{{ tweets[1][2] }}</p>
                            <a href="{{ tweets[1][3] }}" target="_blank" rel="noopener noreferrer"><img class="mx-auto d-block" src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
                        </div>
                        
                        <div class="hidden">
                            <p class="center">{{ tweets[2][0] }} {{ tweets[2][1] }}<p>
                            <p class="center">{{ tweets[2][2] }}</p>
                            <a href="{{ tweets[2][3] }}" target="_blank" rel="noopener noreferrer"><img class="mx-auto d-block" src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
                        </div>
                        
                        <div class="hidden">
                            <p class="center">{{ tweets[3][0] }} {{ tweets[3][1] }}<p>
                            <p class="center">{{ tweets[3][2] }}</p>
                            <a href="{{ tweets[3][3] }}" target="_blank" rel="noopener noreferrer"><img class="mx-auto d-block" src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
                        </div>
                        
                        <div class="hidden">
                            <p class="center">{{ tweets[4][0] }} {{ tweets[4][1] }}<p>
                            <p class="center">{{ tweets[4][2] }}</p>
                            <a href="{{ tweets[4][3] }}" target="_blank" rel="noopener noreferrer"><img class="mx-auto d-block" src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
                        </div>
                        
                        <div class="hidden">
                            <p class="center">{{ tweets[5][0] }} {{ tweets[5][1] }}<p>
                            <p class="center">{{ tweets[5][2] }}</p>
                            <a href="{{ tweets[5][3] }}" target="_blank" rel="noopener noreferrer"><img class="mx-auto d-block" src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
                        </div>
                        
                        <div class="hidden">
                            <p class="center">{{ tweets[6][0] }} {{ tweets[6][1] }}<p>
                            <p class="center">{{ tweets[6][2] }}</p>
                            <a href="{{ tweets[6][3] }}" target="_blank" rel="noopener noreferrer"><img class="mx-auto d-block" src="https://img.icons8.com/color/48/000000/twitter.png"/></a>
                        </div>
                        
                    </div>
                </div>
            </div>
            <br><br><br>
            
<!-- Footer section-->
            <div>
                <h6 class="copyright center">
                    <br>
                    Created using Flask, HTML5, CSS3, and Bootstrap 4. Hosted by Heroku.
                    <br>
                    Copyright &copy; 2020, Michael Manian. All rights reserved.
                    <br>
                </h6>
            </div>
            
        </div>
        
<!-- JQuery code for loading animation -->
        <script>
            setTimeout(function() {
                $(".wrapper").fadeToggle();
            }, 2000);
        </script>
        
<!-- JQuery code for fading in and out different twitter tweets -->
        <script>
            $(document).ready(function() {
                var index = -1;
                function next() {
                    index++;
                    $(".hidden").eq(index % $(".hidden").length).fadeIn(1000).delay(7000).fadeOut(1000, next);
                }
                next();
            });
        </script>
        
<!-- JQuery code for updating serving size ingredient proportions -->
        <script>
            $(document).ready(function() {
                var oldValue = $("#serving").val();
                $("#serving").on("change",function() {
                    var newValue = $(this).val();
                    if (newValue > oldValue) {
                        var multiplied = $("#serving").val() / (Number($("#serving").val()) - 1);
                        $(".measure").each(function() {
                            $(this).val($(this).val() * multiplied);
                        });
                    }
                    else {
                        var multiplied = $("#serving").val() / (Number($("#serving").val()) + 1);
                        $(".measure").each(function() {
                            $(this).val($(this).val() * multiplied);
                        });
                    }
                    oldValue = newValue;
                });
            });
        </script>
        
<!-- JQuery code for changing url back to '/' on refresh after post request -->
        <script>
            $(document).ready(function() {
                history.pushState(null, "", "/");
            });
        </script>
        
    </body>
    
</html>
